* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 1fr 2fr 18fr 6fr;
  grid-template-columns: 2fr 1fr 4fr 1fr 2fr;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

#fullscreen-container {
  height: 100vh;
  width: 100vw;
  grid-row-start: 1;
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: -1;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  justify-content: center;
}

#thumbnail-container {
  z-index: 2;
  display: flex;
  gap: 6px;
  height: 80px;
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 3;
  object-fit: contain;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 5px 5px 5px;
  overflow-x: auto;
  scroll-snap-type: mandatory x;
  scrollbar-color: rgba(255, 255, 255, 0.99) rgba(255, 255, 255, 0.2);
  scrollbar-width: thin;
}

img {
  max-height: 100vh;
  width: auto;
  object-fit: cover;
}

#fullscreen-container > img {
  margin: auto;
  width: 100vw;
  min-height: 100vh;
}

#thumbnail-container > img:hover {
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.6);
}

h1 {
  z-index: 1;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 800;
  color: rgb(252, 249, 244);
  text-shadow: #000000 1px 2px 10px;
  position: absolute;
  top: 30%;
  left: 34%;
  text-align: center;
  width: 32vw;
  animation: fade 3s;
  animation-fill-mode: forwards;
  animation-delay: 8s;
}

@keyframes fade {
  100% {
    opacity: 0;
  }
}

@media (max-width: 600px) {
  #thumbnail-container {
    height: 21vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    background-color: rgba(74, 87, 97, 0.7);
  }

  #thumbnail-container::-webkit-scrollbar {
    display: none;
  }
  #thumbnail-container {
    scrollbar-width: none;
  }
  #thumbnail-container {
    -ms-overflow-style: none;
  }

  #fullscreen-container {
    height: auto;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  #fullscreen-container > img {
    object-fit: contain;
    margin-top: -10vh;
  }
  h1 {
    color: black;
    z-index: -2;
  }
}
