* {
  margin: 0;
  border: 0;
  box-sizing: bord-box;
}
/* 
main {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 2fr 3fr 36fr;
  grid-template-columns: 1fr 3fr 1fr;
} */

body {
  display: grid;
  grid-template-rows: 1fr 2fr 18fr;
  grid-template-columns: 2fr 1fr 4fr 1fr 2fr;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

#fullscreen-container {
  height: 100vh;
  width: 100vw;
  grid-row-start: 1;
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: -1;
  /* height: 100vh;
  width: 100vw; */
  /* object-fit: contain; */
  object-fit: cover;
  overflow: hidden;
  position: relative;
}

#thumbnail-container {
  z-index: 2;
  display: flex;
  gap: 5px;
  /* justify-content: space-evenly; */
  height: 80px;
  width: 50vw;
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 3;
  object-fit: contain;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px 5px 5px 5px;
  overflow-x: auto;
  scroll-snap-type: mandatory x;
  scrollbar-color: rgb(158, 154, 154) rgba(255, 255, 255, 0.5);
  scrollbar-width: thin;
}

/* #thumbnail-container::-webkit-scrollbar {
  display: none;
} */

/* #thumbnail-container::scroll-button(left) {
  z-index: 2;
  content: "<";
  background-color: coral;
  font-size: 4rem;
  color: lightgreen;
  height: 50px;
  width: 50px;
  border-radius: 15px;
} */

/* #thumbnail-container > img {
  scroll-snap-align: start;
} */

img {
  max-height: 100vh;
  width: auto;
  object-fit: cover;
}

#fullscreen-container > img {
  margin: auto;
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  bottom: 0;
}

#arrow-left {
  z-index: 1;
  width: 0;
  height: 0;
  border-top: 38px solid transparent;
  border-right: 40px solid rgba(255, 255, 255, 0.5);
  border-bottom: 38px solid transparent;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-row-end: 3;
  margin-right: 5px;
  justify-self: end;
}

#arrow-right {
  z-index: 1;
  width: 0;
  height: 0;
  border-top: 38px solid transparent;
  border-left: 40px solid rgba(255, 255, 255, 0.5);
  border-bottom: 38px solid transparent;
  grid-row-start: 2;
  grid-column-start: 4;
  grid-row-end: 3;
  grid-column-end: 5;
  margin-left: 5px;
}
